*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000;
}

.menu{
    display: flex;
}

.leftmenu{
    margin-right: 680px;
}

.leftmenu i{
    display: none;
}

.leftmenu img{
    height: 175px;
    width: auto;
}

.rightmenu{
    margin-top: 65px;
}

.rightmenu ul li{
    display: inline-block;
    list-style: none;
    padding-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.rightmenu ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.rightmenu ul li:nth-child(4){
    border-right: none;
}

.rightmenu ul li::after{
    content: '';
    width:0;
    height:2px;
    background: rgb(11, 206, 255);
    display: block;
    margin: auto;
    transition:0.5s;
 }
 .rightmenu ul li:hover::after{
     
     width: 100%;
 }

.developerid{
    color: #fff;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 60px;
}

.developerid i{
    padding-right: 5px;
}

.developerid a i{
    color: #fff;
    text-decoration: none;
}

.developerid .fa-bars{
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #818181;
    display: block; 
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #fff;
  }

  .overlay a::after{
    content: '';
    width:0;
    height:2px;
    background: rgb(11, 206, 255);
    display: block;
    margin: auto;
    transition:0.5s;
  }

  .overlay a:hover::after{
    width: 100%;
  }

  .overlay a i{
    padding: 10px;
    padding-bottom: 5px;
    color: #fff;
  }

  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

@media (min-width: 2465px){
    .leftmenu{
        margin-right: 1600px;
    }
    
}

@media (min-width: 2151px) and (max-width: 2464px){
    .leftmenu{
        margin-right: 1300px;
    }

}

    @media (min-width: 1931px) and (max-width: 2150px){
        .leftmenu{
            margin-right: 1100px;
        }

    }

    @media (min-width: 1770px) and (max-width: 1930px){
            .leftmenu{
                margin-right: 950px;
            }
        
    }
    
    @media (max-width: 1500px){
        .leftmenu{
            margin-right: 450px;
        }
    
}

@media (max-width: 1260px){
    .leftmenu{
        margin-right: 250px;
    }

}

@media (max-width: 1110px){
    .leftmenu{
        margin-right: 180px;
    }

}

@media (max-width: 1000px){
    .leftmenu{
        margin-right: 180px;
    }

    .developerid .fa-bars{
        display: flex;
    }

    .rightmenu{
        display: none;
    }

    .developerid a{
        display: none;
    }

    .developerid{
        margin-left: 550px;
    }

}

@media (max-width: 940px){
    .leftmenu{
        margin-right: 180px;
    }

    .developerid .fa-bars{
        display: flex;
    }

    .rightmenu{
        display: none;
    }

    .developerid a{
        display: none;
    }

    .developerid{
        margin-left: 500px;
    }

}

@media (max-width: 899px){
    .leftmenu{
        margin-right: 180px;
        display: flex;
        margin-left: 20px;
    }

    .developerid .fa-bars{
        display: none;
    }

    .rightmenu{
        display: none;
    }

    .developerid a{
        display: none;
    }

    .developerid{
        margin-left: 550px;
    }

    .leftmenu i{
        display: flex;
        margin-top: 80px;
        font-size: 26px;
        color: #fff;
    }

}